@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}


/* .buttonToggle {
  height: 50px;
  width: 165px;
  border: none;
  background-color: white;
  margin-left: 40px;
}

.dropdown {
  position: relative;
}

.menuToggle {
  list-style: none;
  width: 188px;
  height: 174px;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  margin-top: 15px;
  display: none;
  position: absolute;
  padding-left: 0%;
}

.show {
  display: block;
}

.limenu {
  width: 164.12px;
  height: 39.15px;
  font-size: 12px;
  margin-top: 15px;
  margin-left: 42px;
}

.icons {
  width: 20px;
  height: 20px;
}

.textOptions {
  color: black;
  margin-left: 15px;
  position: absolute;
  text-decoration: none;
}

.proof {
  top: 10px;
  position: relative;
} */
